p {
  font-style: oblique;
  
  font-variant: small-caps;
  text-shadow: 0px 5px 9px black;
  font-size: 120%;
  background: -webkit-linear-gradient(#ef0a6a, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein{
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

li.nav-item{
  text-shadow: 0px 5px 10px black;
  transition: 2s;
}

